@import "../node_modules/bootstrap/scss/bootstrap";
@import "index";      // corresponde a index.css
@import "producto";   // corresponde a producto.css
@import "categoria";  // corresponde a categoria.css